<phpunit bootstrap="./bootstrap.php">
    <testsuite name="Aptitus Test Suite">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <directory suffix=".php">../library/</directory>
            <exclude>
                <directory>../library/Dompdf/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/report" />
    </logging>
</phpunit>
