.option_info p {
    color: #7e7e7e
}

.txt_password_progress {
    display: inline-block;
    vertical-align: top
}

.bar_password {
    margin: 0 0 0 222px;
    display: block;
    width: 263px
}

.pstrength-bar {
    margin-left: 10px
}

.pstrength-info {
    margin-left: 10px;
}

.pstrength-info span {
    background-color: #fff
}

.border_bottom {
    border-bottom: 1px solid #7e7e7e
}

.configuration_wrapper {
    margin: 10px 0 0;
    min-height: 617px
}

.advertisement {
    margin: 0 auto;
    max-width: 300px;
    overflow: hidden
}

.skill_ability_tooltip {
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    display: none;
}

.skill_ability_tooltip.disability {
    background: #2982b7;
    height: 50px;
    left: -22px;
    padding: 7px 16px;
    top: -62px;
    width: 220px;
}

.skill_ability_tooltip.disability:before {
    border-color: #2982b7 transparent;
    border-width: 10px 5px 0 5px;
    bottom: -10px;
    left: 33px
}

.skill_ability_tooltip.conadis {
    background: #fe008a;
    height: 70px;
    padding: 9px 12px;
    left: -80px;
    top: 40px;
    width: 370px;
}

.skill_ability_tooltip.conadis:before {
    border-color: #fe008a transparent;
    border-width: 0 5px 10px 5px;
    top: -10px;
    left: 175px
}

.skill_ability_tooltip:before {
    content: "";
    width: 0;
    position: absolute;
    border-style: solid
}

.skill_ability_description_discapacity {
    display: inline-block;
    position: relative;
    margin-right: 100px;
    bottom: 10px
}

.content_accordion_final {
    margin-bottom: 50px
}

.skill_ability_container_disablity {
    display: inline-block;
    position: relative;
}

.skill_ability_container_disablity .skill_ability_conadis {
    background-image: url("/main/img/main_sprite.png");
    background-position: -73px -386px;
    width: 40px;
    height: 34px;
    float: left;
    display: block
}

.skill_ability_container_disablity .icon_disability {
    background: #2982b7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    float: left;
    margin-right: 48px;
    padding: 5px
}

.configuration_options {
    float: left;
    padding-right: 19px;
    width: 20%;
}

.configuration_options .list_options {
    font-size: 15px;
    border: 1px solid #7e7e7e;
}

.configuration_options .list_options .title_options {
    background-color: #0d5682;
}

.configuration_options .list_options .title_options a {
    display: block;
    line-height: 42px;
    padding-left: 16px;
    color: #fff
}

.configuration_options .list_options .title_options .icon_mesh {
    float: right;
    margin-right: 8px;
    width: 20px;
    font-size: 20px;
}

.configuration_options .list_options .title_options .icon_mesh:before {
    line-height: 42px
}

.configuration_options .list_options .active {
    background-color: #eee
}

.configuration_options .list_options .item {
    color: #7e7e7e;
    display: block;
    line-height: 42px;
    padding-left: 16px;
}

.configuration_options .list_options .item:hover {
    background-color: #e2e2e2
}

.content_wrapper {
    float: left;
    margin-bottom: 150px;
    width: 80%;
}

.content_wrapper .ioption {
    font-size: 15px;
    padding-left: 30px;
    margin-bottom: 14px;
    text-align: left
}

.content_wrapper .title_content {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3c99d0;
    color: #fff;
    font-size: 20px;
    line-height: 42px;
    padding-left: 18px
}

.content_wrapper .title_content:first-child {
    margin-left: auto
}

.content_wrapper .title_content:last-child {
    margin-right: auto
}

.content_wrapper .icon_help {
    line-height: 42px;
    float: right;
    margin-right: 10px
}

.content_wrapper .information {
    padding: 22px 18px;
}

.content_wrapper .information .information_text {
    color: #7e7e7e;
    font-size: 20px
}

.content_wrapper .frm_delete_acount {
    margin-top: 22px;
}

.content_wrapper .frm_delete_acount .form_control {
    color: #7e7e7e;
    display: block;
}

.content_wrapper .frm_delete_acount .form_control.password {
    margin: 20px 0;
}

.content_wrapper .frm_delete_acount .form_control.password label {
    width: 150px
}

.content_wrapper .frm_delete_acount .form_control.password input {
    width: 300px
}

.content_wrapper .frm_delete_acount .txa_motive {
    border: 1px solid #bababa;
    width: 100%;
    height: 68px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.content_wrapper .frm_delete_acount .chx_reasons {
    font-size: 15px
}

.content_wrapper .btn_save {
    font-size: 17px;
    background-color: #2277a8;
    color: #fff;
    padding: 0 40px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
    line-height: 35px;
    margin-top: 30px;
    border: none
}

.frm_password label {
    width: 230px
}

.frm_password input {
    width: 250px;
}

@media only screen and (max-width:760px) {
    .frm_password input {
        width: 100%
    }
}

.frm_password .progress {
    display: block
}

.frm_password .form_control {
    margin-top: 20px;
    padding-left: 18px;
}

.frm_password .form_control .txt_password_progress {
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.frm_options {
    margin-top: 30px;
}

.frm_options .chxReasons .option_info {
    display: inline-block;
    vertical-align: top
}

.frm_options .chxReasons .option_info {
    margin-bottom: 25px;
    margin-left: 15px;
    color: #7e7e7e;
}

.frm_options .chxReasons .option_info p:nth-child(1) {
    font-size: 15px
}

.frm_options .chxReasons .option_info p:nth-child(2) {
    font-size: 13px
}

@media only screen and (min-width:667px) and (max-width:900px) {
    .configuration_options {
        width: 30%
    }
    .content_wrapper {
        margin-bottom: 50px;
        width: 70%;
    }
    .content_wrapper .btn_save {
        float: none !important;
        width: 154px;
        display: block;
        margin: 26px auto
    }
    .password input {
        width: 62% !important
    }
}

@media only screen and (max-width:760px) {
    .content_wrapper .pstrength-bar,
    .content_wrapper .pstrength-info {
        margin: 0
    }
    .content_wrapper .bar_password {
        display: block;
        width: 100%;
        width: auto;
        margin: 0
    }
}

@media only screen and (max-width:667px) {
    .configuration_wrapper {
        min-height: inherit
    }
    .configuration_options {
        display: none
    }
    .content_wrapper {
        margin-bottom: 0;
        display: block;
        clear: both;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .content_wrapper:first-child {
        margin-left: auto
    }
    .content_wrapper:last-child {
        margin-right: auto
    }
    .content_wrapper span {
        padding: 0
    }
    .content_wrapper form {
        padding: 0 20px
    }
    .content_wrapper .btn_save {
        display: block;
        margin: 26px auto;
        float: none !important;
        text-align: center;
    }
    .content_wrapper .btn_save .txt_password {
        float: right
    }
    .content_wrapper .information_text,
    .content_wrapper .frm_privacyOption,
    .content_wrapper .frm_options,
    .content_wrapper .frm_deleteAcount {
        text-align: left !important
    }
    .content_wrapper .password input {
        width: 100% !important
    }
    .skill_ability_tooltip.disability {
        left: 0;
    }
    .skill_ability_tooltip.disability:before {
        left: 11px
    }
    .skill_ability_tooltip.conadis {
        height: 90px;
        left: 0;
        padding: 8px 5px;
        top: 40px;
        width: 280px;
    }
    .skill_ability_tooltip.conadis:before {
        left: 100px
    }
}

.bg_blue,
.slider_wrapper.location ul li.icon_profile:nth-child(3) .icon:before,
.slider_wrapper.studies ul li.icon_profile:nth-child(4) .icon:before {
    background: #045584;
    color: #fff
}

.slider_wrapper .icon.icon_medalla {
    border: 2px solid #fe008a;
    color: #fe008a;
    height: 84px;
    width: 84px
}

.slider_wrapper .icon.icon_references {
    border: 2px solid #3c99d0;
    color: #3c99d0;
    height: 84px;
    width: 84px
}

#frmRegisterComplete.form_registration {
    word-wrap: break-word
}

.actions_cv_wrapper_buttons {
    margin-top: 20px
}

@media only screen and (max-width:667px) {
    .actions_cv_wrapper_buttons {
        margin-top: 20px;
        padding: 0 10px;
    }
    .actions_cv_wrapper_buttons .btn_cuaternary {
        width: 100%
    }
    .actions_cv_wrapper_buttons .btn_print {
        display: none
    }
}

.title_skills .block_text,
.title_skills .body_content_edit {
    word-wrap: break-word
}

.profile_wrapper .content_body {
    padding: 0 10px 0 0;
    
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 68.75%;
    margin-left: 0%;
    margin-right: 0%;
}

.profile_wrapper .content_body:before,
.profile_wrapper .content_body:after {
    content: '';
    display: table
}

.profile_wrapper .content_body:after {
    clear: both
}

@media only screen and (max-width:900px) {
    .profile_wrapper .content_body {
        padding: 0;
        display: block;
        clear: both;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }
    .profile_wrapper .content_body:first-child {
        margin-left: auto
    }
    .profile_wrapper .content_body:last-child {
        margin-right: auto
    }
}

.profile_wrapper aside {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    
    width: 31.25%;
    margin-left: 0%;
    margin-right: 0%;
}

.profile_wrapper aside:before,
.profile_wrapper aside:after {
    content: '';
    display: table
}

.profile_wrapper aside:after {
    clear: both
}

@media only screen and (max-width:900px) {
    .profile_wrapper aside {
        display: none
    }
}

.skill_category {
    color: #222;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    padding: 0 0 7px 0;
}

.skill_category .icon {
    margin-right: 10px;
    font-size: 30px;
    color: #969696
}

.skill_blocked {
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.skill_blocked .btn {
    font-size: 16px
}

.skill_blocked p {
    font-size: 16px;
    color: #4f4f4f
}

.profile_data_box {
    padding: 10px 17px;
    background-color: #ececec;
}

@media only screen and (max-width:667px) {
    .profile_data_box {
        padding: 10px 0 10px 10px;
        position: relative;
        width: 100%;
        height: 155px;
        overflow: hidden;
        -ms-touch-action: none
    }
}

.profile_data_box ul {
    margin: 0 auto;
    width: 100%
}

@media only screen and (max-width:667px) {
    .profile_data_box .slider_wrapper {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        position: absolute;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 893px;
        z-index: 1
    }
}

@media only screen and (min-width:900px) {
    .profile_data_box .icon_profile:nth-of-type(7n) {
        margin-right: 0
    }
}

.btn_white {
    margin-left: 6px
}

.btn_import_linkedin {
    background: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #0d5582;
    height: 34px;
    line-height: 34px;
    margin: 0 0 0 6px;
}

.btn_import_linkedin:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26)
}

.btn_import_linkedin .icon_linkedin {
    background-color: #0d5582;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    padding: 3px;
    margin-top: -2px
}

.btn_print {
    background: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #0d5582;
    height: 34px;
    line-height: 30px;
    padding: 1px 12px;
}

.btn_print .icon_print {
    font-size: 22px
}

.btn_print:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26)
}

.progress_profile {
    display: inline-block;
    height: 105px;
    text-align: center;
    width: 105px;
}

.progress_profile p {
    color: #fff !important;
    font-size: 30px
}

.progress_profile > svg {
    height: 100%;
    display: block
}

.perfil_public {
    border-bottom: 1px solid #ccc;
    margin: 25px 0 0;
    margin-bottom: 3px;
    padding-bottom: 20px;
    font-size: 12px;
}

.perfil_public a {
    word-wrap: break-word
}

.content_accordion .profile_image .center_image {
    width: 100px;
    height: 100px;
    margin: 10px auto
}

.content_accordion .form_row {
    margin-top: 3px;
    border-top: none;
}

.content_accordion .form_row .form_col12 {
    padding: 8px 20px;
    position: relative;
}

.content_accordion .form_row .form_col12 .right.blue {
    float: right
}

.content_accordion .form_row .form_col12 fieldset.tooltipstered {
    padding: 0
}

.content_accordion .form_row .form_col12 fieldset label.lbl_control {
    text-transform: initial;
    line-height: 1.2em;
    font-size: inherit;
    color: #565656
}

.content_accordion .form_row.accordion {
    background: #ececec;
    cursor: pointer;
}

.content_accordion .form_row.accordion h2 {
    color: #565656;
    display: inline-block;
    font-size: 16px;
    margin: 0
}

.content_accordion .form_row h2 {
    font-size: 15px;
    color: #565656
}

.content_accordion .form_row p {
    line-height: 20px;
    color: #565656;
    font-size: 14px;
}

.content_accordion .form_row p i {
    margin-right: 5px
}

.content_accordion .form_row .title_content_edit h3 {
    color: #000;
    margin: 0
}

.content_accordion .form_row .title_content_edit h2 {
    margin: 10px 0
}

.content_accordion .form_row .personal_data h4 {
    color: #000;
    margin: .75em 0 0;
    font-size: 1.25em
}

.content_accordion .form_row .personal_data .block_buttons {
    position: relative;
    margin: 0;
    text-align: left;
}

.content_accordion .form_row .personal_data .block_buttons a {
    margin: 0
}

.content_accordion .form_row .blue {
    color: #045584
}

.content_accordion .form_row .top_arrow {
    border-color: transparent transparent #787878 transparent;
    border-style: solid;
    border-width: 0 10px 7px 10px;
    display: inline-block;
    float: right;
    height: 0;
    margin-top: 8px;
    width: 0
}

.content_accordion .form_row .top_bar {
    background: #ececec
}

.content_accordion .form_row .title_content_edit .title_skills {
    border-bottom: none;
    color: #ccc;
    font-size: 1.25em
}

.title_content_edit {
    margin: 10px 0 10px;
    color: #575757;
}

.title_content_edit h2 {
    color: #000;
    margin: 20px 0 10px;
    font-size: 1.35em;
}

.title_content_edit h2 i {
    color: $greySubtitle_
}

.title_content_edit h3 {
    font-size: 1em;
    margin: 0 0 13px;
    color: rgba(72, 72, 72, 0.902)
}

.title_content_edit p {
    color: #9f9f9f;
}

.title_content_edit p i.icon.icon_watcher {
    float: left;
    font-size: 1em
}

.title_skills {
    border-bottom: 1px dotted #bebebe;
    padding: 0 15px 15px 12px;
    clear: both;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.title_skills.title_skills_hover {
    background: #f5f5f5;
}

.title_skills.title_skills_hover .block_buttons .btn_delete,
.title_skills.title_skills_hover .block_buttons .btn_refer {
    display: inline-block
}

.title_skills .block_text {
    color: #222;
    padding: 0 10px 0 0;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 66.66666666666666%;
    margin-left: 0%;
    margin-right: 0%;
}

.title_skills .block_text:before,
.title_skills .block_text:after {
    content: '';
    display: table
}

.title_skills .block_text:after {
    clear: both
}

.title_skills .block_text p i {
    font-size: 1.45em;
    position: relative;
    bottom: 3px;
    margin-right: 10px
}

.title_skills .block_buttons {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.33333333333333%;
    margin-left: 0%;
    margin-right: 0%;
    margin: 20px 0;
    text-align: right;
}

.title_skills .block_buttons:before,
.title_skills .block_buttons:after {
    content: '';
    display: table
}

.title_skills .block_buttons:after {
    clear: both
}

.title_skills .block_buttons .btn_delete,
.title_skills .block_buttons .btn_refer {
    display: none
}

.title_skills .block_buttons a {
    margin: 0 0 0 5px
}

.references .title_skills {
    border-bottom: none;
}

.references .title_skills .block_text .block_text_6 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
}

.references .title_skills .block_text .block_text_6:before,
.references .title_skills .block_text .block_text_6:after {
    content: '';
    display: table
}

.references .title_skills .block_text .block_text_6:after {
    clear: both
}

.references .title_skills .block_text .block_text_6 h3 {
    color: rgba(72, 72, 72, 0.902);
    font-size: 1.1em;
    margin: 10px 0 10px;
}

.references .title_skills .block_text .block_text_6 h3 strong {
    color: #000
}

.references .title_skills .block_text .block_text_6 .contact_ref {
    color: #000
}

hr {
    border: none;
    border-bottom: 1px dashed #bebebe
}

.skill_body .message_box {
    padding: 12px 20px
}

.skills_ability {
    display: block
}

.skills_ability_item {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #575757;
    display: inline-block;
    margin: 10px 12px 10px 0;
    padding: 6px 12px
}

.block_skill_content {
    padding-top: 20px;
    padding-bottom: 8px;
    word-wrap: break-word
}

#frmRegisterComplete .personal_data .btn {
    float: right;
    position: absolute;
    top: 10px;
    right: 0
}

.social_content {
    margin-top: 20px;
}

.social_content a {
    display: inline-block;
    margin-right: 20px;
}

.social_content a i {
    font-size: 22px;
}

.social_content a i.icon_fb {
    color: #3c5a9a
}

.social_content a i.icon_twitter {
    color: #00adec
}

.social_content a span {
    margin-left: 5px;
    color: #045584;
    font-size: 14px
}

.form_registration.public_profile {
    max-width: 720px;
    margin: auto;
}

.form_registration.public_profile h5 {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile h4 {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile h3 {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile h2 {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile a {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile p {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile span {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile .skills_ability_item {
    font-family: 'museo500', 'arial', 'sans-serif'
}

.form_registration.public_profile .content_accordion .form_row.accordion {
    cursor: default
}

.form_registration.public_profile .logo {
    display: inline-block;
    font-size: 0;
    margin: 0 8px 32px 0;
    float: right
}

.autocomplete_widget {
    position: relative
}

.autocomplete_result {
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 4px 0 #aaa;
    box-shadow: 0 1px 4px 0 #aaa;
    position: absolute;
    width: 99%;
    z-index: 6
}

.skill_buttons {
    border-bottom: 1px solid #bebebe;
    padding-top: 20px;
    padding-bottom: 3px
}

@media only screen and (min-width:667px) and (max-width:900px) {
    .btn_delete,
    .btn_refer {
        display: inline-block !important
    }
    #frmRegisterComplete .personal_data h4 {
        margin: 0;
    }
}

@media only screen and (max-width:667px) {
    .btn_delete,
    .btn_refer {
        display: inline-block !important
    }
    .btn_refer {
        padding: 0 !important;
        text-align: center
    }
    #frmRegisterComplete.form_registration .form_box {
        padding-top: 0
    }
    #frmRegisterComplete.form_registration .profile_image {
        position: relative
    }
    #frmRegisterComplete .lbl_control input[type="checkbox"] {
        margin-top: 8px
    }
    .skill_body {
        margin: 0 10px
    }
    .skill_category {
        padding: 0 0 20px
    }
    .skill_buttons {
        border: 0 solid #fff;
    }
    .skill_buttons .btn_print {
        display: none
    }
    .skill_buttons .btn_import_linkedin,
    .skill_buttons .btn_white {
        margin-top: 5px;
        line-height: 41px;
        height: 41px
    }
    .skill_buttons .btn {
        width: 100%;
    }
    .skill_buttons .btn:last-child {
        margin-top: 10px
    }
    .hide_desktop {
        display: block
    }
    .show_desktop {
        display: none
    }
    .references .title_skills .block_text .block_text_6 {
        width: 100%
    }
}

@media print {
    #print_page .content_body .content_accordion,
    .profile_wrapper .content_body .content_accordion {
        width: 100% !important
    }
}

.not_image {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100px;
    background-color: #b35858;
    z-index: 1;
    padding: 10px;
    font-size: 13px;
    color: #fff
}

.loader {
    width: 35px;
    height: 35px;
    background-image: url("/stattic/main/img/loader.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.form_registration .image_profile_cont {
    height: 137px;
    margin: 0 auto;
    position: relative;
    width: 100px
}

.image_profile_wrapper {
    position: relative;
}

.image_profile_wrapper .btn {
    background-color: #ececec;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: normal;
    position: absolute;
    right: 0
}

.image_profile_wrapper .btn_delete_photo {
    padding: 8px;
    top: 54px;
}

.image_profile_wrapper .btn_delete_photo i {
    color: #be4646;
    font-size: 20px
}

.image_profile_wrapper .btn_upload_photo {
    padding: 6px;
    top: 12px;
}

.image_profile_wrapper .btn_upload_photo i {
    color: #3c99d0;
    font-size: 24px
}

.image_profile_wrapper .file_browse {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute
}

@media only screen and (min-width:900px) {
    .hide_desktop {
        display: none
    }
}

@media only screen and (min-width:667px) and (max-width:900px) {
    .hide_desktop {
        display: none
    }
}

@media only screen and (max-width:667px) {
    .form_registration .profile_image {
        position: absolute;
        border-bottom: 1px solid #b2b2b2;
        top: 0;
        height: 140px
    }
    .form_registration .form_box {
        padding-top: 145px
    }
    .image_profile_wrapper {
        border-bottom: 1px solid #b2b2b2;
        position: absolute;
        top: 0;
        width: 98.5%;
    }
    .image_profile_wrapper .btn_upload_photo {
        height: 38px;
        right: 13px;
        width: auto
    }
    .image_profile_wrapper .btn_delete_photo {
        font-size: 15px;
        height: 38px;
        right: 13px;
        width: auto
    }
}

.body_content_edit {
    clear: both;
}

.body_content_edit h2 {
    color: #575757;
    font-size: 1.15em;
    padding-bottom: 8px;
    margin: 0
}

.body_content_edit p {
    border-top: 1px dashed #bebebe;
    color: #575757;
    padding: 12px 0 10px 0
}

.body_content_edit ul {
    margin: 0 0 0 1.15em;
}

.body_content_edit ul li {
    color: #3798cf;
    list-style: square;
    margin-bottom: 20px;
    font-size: 1.265em;
}

.body_content_edit ul li p {
    color: #575757;
    font-size: .7em
}

.section_content {
    position: relative;
}

.section_content .icon_scuare_only {
    background: #3798cf;
    height: 9px;
    margin-right: 9px;
    position: absolute;
    top: 3px;
    width: 9px
}

.section_content .section_content_into {
    color: #575757;
    font-size: inherit;
    margin: 0 0 0 16px
}

.block_center_simple {
    text-align: center;
}

.block_center_simple p {
    color: #b0b0b0;
    font-size: 20px;
    margin-top: 40px
}

.block_center_simple a.btn {
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 36px;
    line-height: 1.65em
}

.step3_skills_selected_container {
    margin-top: 10px
}

.step3_skills_selected_item {
    padding: 0 3px 0 8px;
}

.step3_skills_selected_item label {
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    display: inline-block
}

.close_skills.hobbies {
    margin-top: 3px;
    width: 17px;
    height: 18px;
    line-height: 18px
}

.text_repeated_message {
    color: #e42d2d;
    left: 5px;
    margin-top: 5px;
    position: absolute;
    text-align: left;
    top: -26px
}

.welcome_information_modal {
    text-align: center;
    width: 664px;
    font-size: 18px;
}

.welcome_information_modal .boby_welcome {
    padding: 25px 30px 45px 30px
}

.welcome_information_modal h3 {
    color: #4678b0;
    font-size: 30px
}

.welcome_information_modal > b {
    display: block;
    margin: 0 0 26px 0
}

.welcome_information_modal .wrapper {
    position: relative
}

.welcome_information_modal img,
.welcome_information_modal .info {
    display: inline-block;
    vertical-align: top
}

.welcome_information_modal .info {
    padding: 0 0 0 52px;
    text-align: left;
    width: 298px
}

.welcome_information_modal .icon_arrowh_left {
    font-size: 56px;
    position: absolute;
    right: 254px;
    top: 17px;
    color: #4678b0;
}

.welcome_information_modal .icon_arrowh_left.last {
    top: 61px
}

.welcome_information_modal .message {
    color: #4678b0;
    font-size: 21px;
    margin: 40px 0 0
}

.welcome_information_modal .sub_title_mobile {
    background: none;
    margin: 20px 0 0 0
}

.welcome_information_modal .icon_cross {
    display: none
}

@media only screen and (max-width:667px) {
    .welcome_information_modal {
        width: 100%;
    }
    .welcome_information_modal .info {
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .welcome_information_modal .info .icon_arrowh_left {
        display: none
    }
    .welcome_information_modal .message {
        margin: 20px 0 0
    }
}

body.mobile .welcome_information_modal .sub_title_mobile {
    margin: 0;
    background: #a6d8f5
}

body.mobile .welcome_information_modal .icon_cross {
    display: inline-block
}

.jobs_ads_results_wrapper {
    background: #ececec;
    margin-bottom: 50px !important;
    min-height: 597px
}

.not_enough_message {
    padding: 15px 10px;
    margin: 0 auto;
    width: 79%
}

.not_enough_message .title {
    font-size: 1.4em
}

.jobs_ads_description .search_address {
    color: #5f5f5f;
}

.jobs_ads_description .search_address p {
    color: #808080
}

.suggested_jobs_list .jobs_ads_results_info {
    background: #ececec;
    margin: 0;
    padding: 10px 0
}

.suggested_jobs_list .welcome_detail {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em; 
}

.suggested_jobs_list .welcome_detail:first-child {
    margin-left: auto
}

.suggested_jobs_list .welcome_detail:last-child {
    margin-right: auto
}

.suggested_jobs_list .welcome_detail .welcome_detail_left,
.suggested_jobs_list .welcome_detail .welcome_detail_right {
    display: inline-block;
    font-size: 0;
    vertical-align: middle
}

.suggested_jobs_list .welcome_detail .welcome_detail_left {
    width: 71%
}

.suggested_jobs_list .welcome_detail .welcome_detail_right {
    text-align: right;
    width: 28%
}

.suggested_jobs_list .welcome_detail .message_mobile {
    display: none
}

.suggested_jobs_list .welcome_detail .bg_icon_profile {
    cursor: pointer;
    display: inline-block;
    background-image: url("/main/img/main_sprite.png");
    background-position: 0 -450px;
    width: 24px;
    height: 73px;
    vertical-align: middle;
}

.suggested_jobs_list .welcome_detail .bg_icon_profile .icon_person2 {
    color: #fff;
    padding: 15px 1px;
    position: relative;
    top: 8px;
    font-size: 20px
}

.suggested_jobs_list .welcome_detail .bg_icon_profile p {
    display: none
}

.suggested_jobs_list .welcome_detail .message {
    color: #fff;
    display: inline-block;
    font-size: 19px;
    padding: 30px 0 23px 16px;
    vertical-align: middle;
    width: 93%;
}

.suggested_jobs_list .welcome_detail .message p {
    padding: 0
}

.suggested_jobs_list .welcome_detail_right .suggest_get_resume {
    margin: 0 12px 0 24px;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.suggested_jobs_list .welcome_detail_right .suggest_get_resume a {
    display: inline-block !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0 0 6px 0;
    padding: 5px 15px;
}

.suggested_jobs_list .welcome_detail_right .suggest_get_resume a.icon_print {
    font-size: 22px;
    background-color: #1b76aa;
}

.suggested_jobs_list .welcome_detail_right .suggest_get_resume a.icon_print:hover {
    background-color: #1a70a2
}

.suggested_jobs_list .welcome_detail_right .suggest_get_resume a.icon_download {
    font-size: 22px;
    background-color: #00c617;
}

.suggested_jobs_list .welcome_detail_right .suggest_get_resume a.icon_download:hover {
    background-color: #00bc16
}

.suggested_jobs_list .welcome_detail_right .circle_progress {
    float: none !important;
    width: 50% !important;
    text-align: center
}

.suggested_tabs_header {
    background: #2982b7;
    color: #ececec;
    height: 40px;
    text-align: center;
}

.suggested_tabs_header a {
    display: block;
    padding: 10px 40px;
    color: #ececec
}

.suggested_tabs_header li {
    display: inline-block;
    overflow: hidden;
}

.suggested_tabs_header li i {
    float: left;
    font-size: 20px
}

.suggested_tabs_header li span {
    margin-left: 5px;
    font-size: 17px
}

.suggested_tabs_header li.is_active,
.suggested_tabs_header li:hover {
    background: #ececec;
}

.suggested_tabs_header li.is_active a,
.suggested_tabs_header li:hover a {
    color: #045584
}

.suggested_tabs_header li.is_active i,
.suggested_tabs_header li:hover i {
    color: #045584
}

.is_disable {
    display: none
}

@media only screen and (max-width:983px) {
    .suggest_get_resume {
        width: 29% !important
    }
    .suggested_tabs_header a {
        padding: 10px 25px
    }
}

@media only screen and (max-width:940px) {
    .suggest_get_resume {
        width: 28% !important
    }
}

@media only screen and (max-width:400px) {
    .message_mobile {
        margin-bottom: 14px
    }
}

@media only screen and (max-width:560px) {
    .suggested_tabs_header li a {
        padding: 10px 12px
    }
    .suggested_tabs_header li:not(.is_active) .number + span {
        display: none
    }
}

@media only screen and (max-width:667px) {
    .suggested_jobs_list .welcome_detail .welcome_detail_left {
        display: block;
        clear: both;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 15px 10px;
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left:first-child {
        margin-left: auto
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left:last-child {
        margin-right: auto
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .bg_icon_profile,
    .suggested_jobs_list .welcome_detail .welcome_detail_left .message_mobile {
        vertical-align: middle
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .message_mobile {
        display: inline-block;
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .message_mobile p {
        padding: 0;
        display: block;
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .message_mobile p strong {
        color: #2982b7
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .bg_icon_profile {
        margin-left: 20px;
        display: inline-block;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 8px 14px;
        background-image: none;
        background-color: #f08;
        display: inline-block;
        width: auto;
        height: auto;
        font-size: 15px;
        color: #fff;
        margin: 0;
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .bg_icon_profile i {
        padding: 0;
        top: 0;
        display: inline-block
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .bg_icon_profile p {
        margin: 0 0 0 10px;
        display: inline-block
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_left .message {
        display: none
    }
    .suggested_jobs_list .welcome_detail .welcome_detail_right {
        display: none
    }
}

.suggested_job_tags_container ul.suggested_tabs {
    text-align: left;
}

.suggested_job_tags_container ul.suggested_tabs li {
    padding: 10px;
}

.suggested_job_tags_container ul.suggested_tabs li span {
    display: none
}

.suggested_job_tags_container ul.suggested_tabs .is_active span {
    display: inline-block
}

.aside_banner_highlights {
    position: relative;
}

.aside_banner_highlights a {
    background-image: url("/main/img/main_sprite.png");
    background-position: 0 0;
    width: 300px;
    height: 250px;
    display: block;
}

.aside_banner_highlights a img {
    position: absolute
}

.aside_banner_highlights a h2 {
    color: #0d5682;
    float: right;
    font-size: 27px;
    margin: 38px 23px 0 0;
    right: 20px;
    text-align: right;
    width: 120px
}

.aside_banner_highlights span {
    clear: both;
    display: block;
    float: right;
    margin: 20px 20px 0 0;
    position: relative;
}

.aside_banner_highlights span.btn_discover {
    background: #2982b7;
    font-size: 16px
}

.aside_banner_highlights:hover span.btn_discover {
    background: #1f78ab
}

.aside_list_highlights {
    background: #f5f5e3;
    padding: 9px;
}

.aside_list_highlights h3 {
    position: relative;
    margin: 1em 0 2.75em 0;
}

.aside_list_highlights h3 span {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    display: inline-block
}

.aside_list_highlights h3 i {
    position: relative;
    right: 0;
    top: -37px;
    float: right;
    display: inline-block;
    background-image: url("/main/img/main_sprite.png");
    background-position: -24px -450px;
    width: 36px;
    height: 48px
}

.aside_list_highlights ul {
    padding: 0;
}

.aside_list_highlights ul li a {
    padding: 2.2em 0 1.5em 0;
    display: block;
    line-height: 1.5em;
    border-bottom: 1px solid #abab9e;
}

.aside_list_highlights ul li a small {
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-transform: capitalize;
    width: 80%
}

.aside_list_highlights ul li a i {
    bottom: 12px;
    float: right;
    right: 5px;
    font-size: 3em;
    position: relative;
}

.aside_list_highlights ul li a i span {
    position: absolute
}

.aside_list_highlights ul li:last-child {
    border-bottom: 1px solid transparent
}

.aside_list_highlights .level_complete {
    background: #fe008a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    bottom: -9px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 2px 8px 5px;
    position: absolute;
    right: -2px
}

.aside_certified_highlights {
    background-color: #2982b7;
    padding: 9px;
    text-align: center;
}

.aside_certified_highlights span {
    background-image: url("/main/img/main_sprite.png");
    background-position: -300px 0;
    width: 272px;
    height: 101px;
    display: inline-block
}

.aside_certified_highlights h3 {
    line-height: 1em;
    font-size: 25px;
    color: #fff
}