/* 
class pag. informativas 
*/
.h2InfoPost{
	border-bottom: 1px solid #ECEEEE; 
	margin-bottom:10px; 
	padding-bottom:10px;
	font-size:18px;
	font-weight:bold;
	line-height:1.2 
}
.liInfoPost{ margin:0 0 0 9px }
.texto { padding:0 0 0 0 }
.intro {
	display:block;
	padding:5px 5px 5px 0;
	color:#333;
	font-size:18px;
	line-height: 1.25
}
.introquees {
	display:block;
	padding:13px 0px;
	color:#333;
	font-size:18px;
	line-height: 1.2
}
.introquees2 {
	padding:2px 2px 2px 0;
	margin-top:15px;
	color:#333;
	font-size:14px
}
.web { font-weight:bold }
.tituloInfo {
	background-color:#F5F5F5;
	display:block;
	padding:10px;
	margin:0 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	line-height: 1
}
.titulonivel {
	padding:2px 2px 2px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000
}
.reglas, .listCircle { margin:0 0 15px }
.listAbc, .listCircle{ padding-left:20px }
.listAbc .liInfoPost{ list-style: lower-alpha }
.listCircle .liInfoPost{ list-style: disc }
.privado { width:280px }
.publico {
	margin-top:2px;
	margin-left:2px;
	padding:2px 0px 0px 2px;
	width:250px
}
.micuenta-screen {
	background-image:url(../images/nivel-de-privacidad.png);
	background-repeat:no-repeat;
	margin:0 0 20px 20px;
	width:512px;
	height:260px;
	text-align:center
}
.informacion { margin-top:20px }
.olvide-clave-screen {
	background-image:url(../images/olvide-mi-contrasena.png);
	background-repeat:no-repeat;
	margin-bottom:20px;
	margin-left:20px;
	width:472px;
	height:271px;	
	text-align:center
}
.text-page-info { display:block }
.titulo-que-es-aptitus {
	display:block;
	padding:0;
	margin:0 0 10px;
	font-size:24px;
	color:#000;
	font-weight: normal;
}
.infografia {
	background-image:url(../images/infografia.png);
	margin-left:10px;
	width:518px;
	height:258px
}
.benefits {
	background-image:url(../images/benefits.png);
	width:518px;
	margin-left:10px;
	height:121px;
}
.busines-icon {
	background-image:url(../images/busines-icon.png);
	margin-top:20px;
	margin-left:20px;
	width:34px;
	height:32px
}


.a-borderline { border-bottom:1px solid #ccc; padding-bottom:20px }
.a-nuestraweb {
	background-image:url(../images/isotipo-aptitus.png);
	background-repeat:no-repeat;
	padding:5px 0 0px 30px;
	margin: 0 0 3px 0;
	color:#000
}
.a-suplemento-aptitus {
	background-image:url(../images/isotipo-comercio.png);
	background-repeat:no-repeat;
	padding:5px 0 0px 30px;
	margin: 14px 0 0 0;
	color:#000
}
.a-suplemento-talan {
	background-image:url(../images/isotipo-trome.png);
	background-repeat:no-repeat;
	padding:5px 0 0px 30px;
	margin: 14px 0 0 0;
	color:#000
}
.a-nuestra-web-ap { padding:0 0 0 30px !important }
.a-suplemento-ap { padding:3px 0 0 30px !important}
.a-suplemen-talan { padding:3px 0 0 30px !important}
.a-tips-ap { margin-top:20px; font-size:18px }
.a-flechita1 {
	background-image:url(../images/arrowRight.png);
	background-repeat:no-repeat;
	padding:0 0 0 10px
}
.what-aptitus .list-items{
	border: none;
	padding : 10px 0 4px 0;
}
.a-web {
	background-image:url(../images/arrowRight.png);
	background-repeat:no-repeat;
	padding:0 0 0 10px
}
.a-trabajamos{ padding:0px 0 0 20px; width:360px; font-size: 17px; line-height: 22px;}
.a-trabajamos span{margin: 14px 0;
display: block;
font-weight: bold;
font-size: 19px;}
.a-screen-cuenta{ 
	background: url(../images/screen-micuenta-ap.png) 380px 0 no-repeat; 
	padding:0 0 10px; 
	line-height:20px;
	overflow: hidden
}
.iModArticleEPA{ padding:0 10px }
.a-tips-ap-tres{ margin:0 0 20px 20px }
.a_text_grupo{
	border-top: 1px solid #ECEEEE;
	margin-top: 30px;
	right: auto
}
.a-beneficio { color:#000; padding:5px 0 0px 30px }
.a-checkazul {
	background-image:url(../images/check4.png);
	background-repeat:no-repeat;
	padding:0 0 25px 40px;
	margin:0 0 0px 15px
}
.pNone_em{ line-height:1; padding:40px 0 0 10px }
.a-mundo-aptitus{
	background: url(../images/screen-micuenta-ap2.png) 380px 30px no-repeat; 
	padding:0 0 0; 
	line-height:20px
}
.a-trabajamos_em{ padding-left:20px; padding-right:220px }
.a-tips-em{ margin:20px 0 }
.linknuestraWeb{ padding-left:10px }
.titleInfoQAPt{
	border-bottom: 1px solid #ECEEEE;
	margin-bottom: 10px;
	padding-bottom: 10px;
	line-height: 1.2	
}
#pagQueAptEmp .btnPA,
#pagnuevApt .btnQEAPE,
#pagQueApti .btnA{ background-image:none }
.topbodyP2{ height:340px }
.topTitP2, .cntBodyP2{ cursor:default }
.paddingL10{ padding-left:10px }
.introContact{ 
    background: url(../images/imgContactApt.jpg) right top no-repeat; 
    padding:10px 190px 0 0; 
    height:120px;
    font-size: 13px    
}
#formContactApt .labelN{ width: 130px }
ul.errors li{ color: #C33 }
#formContactApt .inputN{ width: 270px }
#formContactApt .selectN, .divCT, .pNMT{ width: 280px }
#formContactApt .response{ width: 120px }
#formContactApt .areaN{ width: 270px }
#formContactApt #tipo_documento{ width: 145px }
#formContactApt #fDocCT{ width: 115px }
.pNMT{ padding:0 0 10px 150px; margin:0; line-height: 1.2  }