/*
reset y estilos por default
*/

/* reset */
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr,
acronym, address, code, del, dfn,
em, img, q, dl, dt,
dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th,
td, article, aside, dialog, figure,
footer, header, hgroup, nav, section,
menu, details {
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}
article, aside, dialog, figure, footer,
header, hgroup, nav, section, menu { display:block }
table { border-collapse: collapse;  border-spacing: 0 }
caption, th, td { text-align: left;  font-weight: normal }
table, th, td {  vertical-align: middle }
blockquote:before, blockquote:after, q:before, q:after { content: '' }
blockquote, q { quotes: "" "" }
a img { border: none }
:focus { outline: 0 }
/* default */
html{ height:100% }
body {
	background-color: white;
	min-width:1000px;
	font-family: 'Helvetica', Arial, Garuda, freesans, utkal;
	font-size: 12px;
	line-height: 1.5
}
a, .linkApt { color:#007FD3; text-decoration: underline }
a:hover, .linkApt:hover { color:#ff0088; text-decoration: underline }
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-family: Tahoma, Geneva, Arial, Garuda, freesans, utkal }
h1.titleFind{ margin:0 0 5px; font-size: 24px; color: black  }
h2{ margin:0 0 5px; font-size: 24px; color: black  }
h3{
	border-bottom: 1px solid #ECEEEE;
	padding: 0 0 5px;
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 1.2em;
	color: black;
}
h4{
	position: relative;
	padding: 10px 15px 0 40px;
	height: 41px;
	font-size: 18px;
	line-height: 1.2em;
	color: white
}
h5{ margin:0 0 5px }
h6{
	margin:0 0 10px;
	padding:10px;
	color:white;
	font-size:15px;
	line-height:1
}
p { margin: 0 0 15px }
li { list-style: none }
em, cite { font-style: normal }
strong { font-weight: bold }
/* selects mouse */
::selection { color: white;  background-color: #111 }
::-moz-selection { color: white;  background-color: #111 }
::-webkit-selection { color: white;  background-color: #111 }
/* form */
label { cursor: pointer }
input, select { border: 1px solid #CFCFD0 }
input{ padding: 3px 5px; margin: 0; color: black }
textarea{
	border: 1px solid #CFCFD0;
	padding: 8px 10px;
	font-family: Arial, Helvetica, sans-serif;
	resize: none
}
fieldset { display: block }
input:focus, select:focus, textarea:focus{
	border-color:#C7A158;
	-moz-box-shadow: inset 1px 1px 1px #E6C27D;
	-webkit-box-shadow: inset 1px 1px 1px #E6C27D;
	box-shadow:inset 1px 1px 1px #E6C27D;
}
input[disabled], select[disabled], textarea[disabled],
input[readonly], select[readonly], textarea[readonly]{ background-color: #EBEBE4 }
#dataAadvice th{ line-height:1 }
#cntVideoPE iframe{ display:block; margin:0 auto }
.pstr{text-align:center;font-weight:700}
.tcnt{text-align:center}