/*header*/

/*menu-hamburguesa*/
.navbar-mcl {
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background-color: white;
    padding-top: 10px;
}

.navbar-mcl .navbar-toggle {
    border-color: transparent;
    background-color:#2A5E9B;  
}

.icon-bar{
	background-color:white;
}

.navbar-mcl {
    background-color: white;
}

.one {
  background: #2A5E9B;
  color:white;
}

.two {
  background:#FFA200;
  color:white;
}

.tree{
  color:#2A5E9B;
}

.navbar-mcl .navbar-nav > li > a{
	margin:10px;
  padding: 5px 20px 5px 20px;
}

.navbar-mcl .navbar-nav > li > a:hover {
    background-color: rgba(148, 148, 148, 0.6);
    color: white;
    transition: 500ms;
}

.navbar-mcl .navbar-nav > li > a:focus {
    background-color: #585858;
    color: white; 
}

.navbar-brand{
  padding: 0px;
}

.mcl{
  display: inline-block;
  border-left: 1px solid #2A5E9B;
  padding-left: 20px
}

.conf{
  position: relative;
  bottom:5px;
}


