/*
layout, Perfil Público
*/
#mainProfile #wrap{ min-width: 880px; overflow: hidden }
#mainProfile{ padding:50px 0 30px; margin:0 auto }
#mainProfile #urlPublic{ width:858px }
#mainProfile #infoPerfilCP{ width:465px }
#mainProfile #infoPPubPC{ width:310px }
#mainProfile #summaryPPC{ width:362px }
#mainProfile .dListR{ width:350px }
#tittleMPA{ position:relative; background-image:url(../images/sptPerfil.png); background-repeat:no-repeat }
#tittleMPA{ background-position:0 0; width:241px; height:32px; overflow: hidden }
#imgPPubPC{ width:140px; height:140px; overflow: hidden }
#optShareMC{ border-bottom:2px solid #B8D8ED }
#goAptitusP{ 
	display:block; 
	position:absolute; 
	right:0; 
	top:0; 
	z-index:2; 
	width:116px; 
	height:24px; 
	overflow: hidden 
}
.aActionM.active{ color: black; text-decoration: none; cursor: default }
.expPdfCP { background-position: 104px -364px }
.expPdfCP:hover{ background-position: 104px -580px }
