
/*-------------HOME/INDEX-----------------*/


/*carusel*/

#main-slider {
  position: relative;
}

#main-slider .carousel .item {
  background-position: 50% 30px;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 400px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

/* Carusell*/
/*.bgd-1{
  background-image: url('/static/eb/img/empresas/slider/bg3.jpg');
}*/
.carusell{
  padding-top: 40px;
}

.centrado{
  margin-top: 200px;
}

.caro{
  background-color: rgba(37, 37, 37, 0.68);
  padding: 0px 0px 22px 0px;
}

.caro h3{
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: sylfaen;
  font-size: 25px;
  color:white;
}

.boton{
  background-color: #2A5E9B;
  padding: 12px 30px;
  color:white;
  font-family:calibriBold;
  height: 50px;
  padding-top: 1em;
  display: inline-block;
  cursor: pointer;
}

.boton:hover{
  color:white;
  text-decoration: none;
  background-color: rgba(148, 148, 148, 0.6);
    transition: 500ms;
}

.boton:focus{
   text-decoration: none;
   background-color: #585858;
   color: white;
   outline:0px !important;
}

.home-principal{
  position: relative;
  min-height: 22em;
  background: #424242;
}
.contenedor-formulario{
  background-color: rgba(37, 37, 37, 0.68);
  padding: 2.5em 3em;
  position: absolute;
  top:40%;
  left: 13%;
  width: 75%;
}
.owl-buttons{
  display: none;
}
.sin-padding{
  padding-left: 0;
  padding-right: 0;
}
.easy-autocomplete{
  width: 100% !important
}
.img-home{
  width: 100%;
}
@media screen and (max-width: 992px){
  .contenedor-formulario{
    padding: 1em 1em;
    width: 100%;
    left: 5%;
    position: inherit;
    border-radius: inherit;
    background: #353333;
  }
  .lupa{
    height: 45px;
    background-position: 5px 5px;
  }
  .ubigeo{
    height: 42px;
  }
}
@media screen and (max-width: 767px){
  .contenedor-formulario{
    padding: 1em 1em;
    width: 100%;
    left: 5%;
    position: inherit;
    border-radius: inherit;
    background: #353333;
  }
  #owl-home-postulante .owl-pagination{
    left: 39% !important;
  }
  .buscadorinput{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
  }
  .boton{
    background-color: #005780;
    height: 50px;
    width: 100%;
  }
  .home-principal{
    margin-top: 3em;
    min-height: 8em;
  }
  .caro{
    margin-top: 17.5em !important;
    padding: 0.8em 0.8em 2em 0.8em;
    background-color: #353333;
    height: 10em;
  }
  .carousel-indicators{
    bottom: 8.5em;
    margin-bottom: 3.5em;
  }
  #main-slider .carousel .item {
    background-color: #353333;
    background-position: 50% 70px;
    background-size: contain;
    height: inherit;
  }
}
@media screen and (max-width: 500px){
  .buscadorinput{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
  }
  .boton{
    background-color: #005780;
    height: 50px;
    width: 100%;
  }
  .home-principal{
    margin-top: 3em;
    min-height: 8em;
  }
.caro{
    margin-top: 13.5em !important;
    padding: 0.8em;
    background-color: #353333;
    height: 185px;
  }
  .carousel-indicators{
    bottom: 12em;
    margin-bottom: 1em;
  }
  #main-slider .carousel .item {
    background-color: #353333;
    background-position: 50% 70px;
    background-size: contain;
  }
}
@media screen and (min-width: 502px)and (max-width: 598px){
  .caro{
    margin-top: 14.5em !important;
    padding: 0.8em;
    background-color: #353333;
    height: 185px;
  }
  .carousel-indicators{
    bottom: 12em;
    margin-bottom: 1em;
  }
  #main-slider .carousel .item {
    background-color: #353333;
    background-position: 50% 70px;
    background-size: contain;
  }
}
/*cierra-carusel*/




/*-------------SERVICES-----------------*/


/*MEDIA QUERIES*/
@media screen and (min-width: 1200px) and (max-width: 2800px){
/*  #main-slider .carousel .item {
    height: 500px;
   }*/
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    #main-slider .carousel .item {
      background-color: #353333;
      background-position: 50% 70px;
      background-size: contain;
      height: inherit;
    }
    #main-slider .carousel h2{
          font-size: 26px;
          bottom: 52px;
          position: relative;
    }
    #main-slider .carousel h3{
      padding-top: 0.5em;
    }
    #main-slider .carousel p {
          bottom: 50px;
          position: relative;
    }
    .home-principal{
    margin-top: 3em;
    min-height: 8em;
    }
    .boton{
    background-color: #005780;
    height: 50px;
    width: 100%;
    }
    .caro{
    margin-top: 11em !important; /*12*/
    padding: 0.8em;
    background-color: #353333;
    height:11em;
    }
    .carousel-indicators{
    bottom: 11em;
    margin-bottom: 1em;
    }
}
