/*header*/

.link h3{
  margin:0;
  padding-left: 20px;
  text-decoration: none;
  background-color: ##005780;
  color:white;
}

.navbar-default .navbar-toggle {
    background-color: #fafafa;
    border-color: #888;
    margin-top: 1.5em;
    outline: none;
}

.navbar-default .navbar-toggle:hover{
  transition: 500ms;
}

.icon-bar{
  background-color:white;
}

.categoria{
  color:#2A5E9B;
  font-size: 20px;
}

.mcl{
  display: inline-block;
  border-left: 1px solid #2A5E9B;
  padding-left: 20px
}

h3{
margin:0px;
padding: 0px;

}
.carusell{
  padding-top: 0 !important;
}
.contenedor-header-empleBusco{
  height: 5em;
}
.home-principal{

}
.link-todobusco{
      background-color: #005780;
    text-align: center;
    padding: 0.2em 0em;
    overflow: hidden;
  /*background-color:#005780;
  text-align: center;
  padding: 0em 0em 0em 10.5em;
  color: white;*/
}
.logo-header{
  padding: 0em 0em 0em 20em;
  /*text-align: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  color: #fff;*/
}
.link-logo-header{
  text-align: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}
.link-todobusco a{
  color:white;
}

.bienvenido-user{
  z-index: 3;
  float: right;
  padding: 1em 4em 0em 2em;
  color: #000;
}
.bienvenido-user span {
  font-family: gotham,arial,sans-serif;
  font-size: 14px;
  color: #000;
}
.name-user{
  font-family: gotham,arial,sans-serif;
  font-size: 14px;
}
.pais-todobusco{
  padding: 1em 5em 1em 0em;
  float: right;
  z-index: 3;
}
.pais-todobusco span{
  font-family: gotham,arial,sans-serif;
  font-size: 14px;

}


/*Modal*/

.country_empleobusco_link_flags{
  cursor: pointer;
}
.modal-body a{
  font-family: scfly !important;
  font-size: 14px;
}
.modal-title{
  font-size: 32px;
  color: #005780;
  text-align: center;
  font-weight: bold;
  padding-left: 1em;
  font-family: scfly;
}
.modal-subtitle{
  font-size: 15px;
  font-family: scfly;
  text-align: center;
}
.modal-content ul{
  text-align: center;
  padding-left: 0;
}
.modal-content li{
  display: inline-block;
  width: calc(50% - 5px);
  padding: 10px;
}
.modal-content li .btn{
  width: 242px;
  border: 1px solid #adadad !important;
}
.btn_default_modal_country{
  background: white !important;
  border-color: #ccc !important;
  color: #333 !important;
  border:1px solid;
}
.btn_default_modal_country:hover{
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}






.btn-sesion, .btn-registra, .btn-cuenta, .btn-empresa, .btn-postulante{
  margin-right: 15px;
  margin-top: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-sesion{
  background: #ffa200;
}

.btn-registra{
  background: #776235;
}

.btn-cuenta{
  background: #776235;
}

.btn-empresa, .btn-postulante{
  margin-right: 30px;
  background: #005780;
}

.btn-registra a, .btn-sesion a, .btn-cuenta a , .btn-empresa a{
  padding: 0.5em 1em !important;
  color: white !important;
}

.top-a{
  padding-top: 2em;
}

.top-b{
  margin: 0.5em 0em;
}

.top-c{
  margin: 1em 0em;
}

.text{
  /*border-right: 1px solid #2A5E9B;*/
  margin-right: 0.8em;
}

.text p{
  margin-bottom: 0px;
  line-height: 40px;
}
.text p a{
  color: white;
}

.size-a-color{
  font-size: 16px;
  color:#2A5E9B
}
.size-user{
  font-size: 16px;
  color:#2A5E9B
}
.size-b-color{
  font-size: 12px;
  color:#999999;
}

button.size-c-color{
  margin-top: 2px;
  padding: 0px 5px;
  background-color:#4badf8;
}

.size-c-color{
  font-size: 12px;
  color:white;
  font-family: breeSerif-light;
}

.size-c-color:hover{
  background-color:gray;
}

.one{
  background-color:#2A5E9B;
  color:white !important;
  padding:5px 10px 5px 10px !important;

}

.one:hover,.two:hover,.one:focus,.two:focus{
  background-color:gray !important;
  transition: 500ms;
}

.two{
  background-color:#FFA200;
  color:white !important;
  padding:5px 10px 5px 10px !important;
}

.navbar-default .navbar-nav>li>a{
  font-size: 14px;
}

li.page-scroll{
  padding-right: 0.5em;
}

a.navbar-brand{
  padding-top:2px;
  padding-bottom: 2px;
}

ul.nav.navbar-nav.top-a{
  padding-top: 15px;
}


@media screen and (min-width: 480px) and (max-width: 767px){
   .top-a{
    padding-top: 0em;
  }

   .top-b{
    padding-top: 0em;
  }
    .mcl{
    display: inline-block;
    border-left: none;
    padding-left: 12px;
  }
    li.page-scroll{
    padding-right: 0em;
 }
  .link-todobusco{
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .logo-header{
    padding: 0;
  }
  .home-principal{
    margin-top: 2em;
    min-height: 23.5em ;
  }
  .contenedor-formulario{
    border-radius: 10px;
  }
  .pais-todobusco{
  padding: 1em 2.8em 1em 0em;
  }
  .bienvenido-user{
  padding: 0em 11em 0em 11em;
  }

}


@media screen and (min-width: 320px) and (max-width: 480px){
  /*header-navbar*/

   .mcl{
    display: inline-block;
    border-left: none;
    padding-left: 12px;
  }

   .top-a{
    padding-top: 0em;
  }

   .top-b,.top-c{
    margin:0em;
  }

   li.page-scroll{
    padding-right: 0em;
  }
  .link-todobusco{
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .logo-header{
    padding: 0;
  }
  .bienvenido-user{
    padding: 0em 6em 0em 6em;
  }
  .home-principal{
    margin-top: 2em;
    min-height: 8em;
  }
  .contenedor-formulario{

    left: 5% !important;
  }
  .btn-empresa, .btn-postulante, .btn-sesion, .btn-registra, .btn-cuenta{
    margin: 0;
    width: 90%;
    margin-left: 1em;
  }
  .pais-todobusco{
  padding: 1em 2.8em 1em 0em;
  }
}
