
/*CAROUSEL POSTULANTE*/

.box{
  background-color: rgba(37, 37, 37, 0.68);
  padding:0px 40px 34px 70px;
  margin-top: 18%;
}

/*INPUT-ICO*/

.centrado-dos{
	margin-top: 50px;
}

.form-control{
  border-radius: 0px;
  font-size: 15px;
  font-family: breeSerif;
}

.lupa {
    background-image: url(../svg/lupa.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 50px;
    background-position: 10px 10px;
}

.direccion {
    background-image: url(../svg/direccion.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 50px;
    background-position: 10px 10px;
}
.ubigeo {
    background-repeat: no-repeat;
    background-size: 30px;
    height: 50px;
    
}
.position-top{
	position: relative;
	top:10px;
 }

/*--------------------------------------*/

/* section bonus */

.bonus{
	background-color: #D3D5D6;
	width: 100%;
	padding-top:30px;
	padding-bottom: 30px;
}

.bonus-text p{
	font-family: sylfaen;
	font-size: 22px;
}

/*--------------------------------------*/

/* a-destacados */

.a-destacados{
	padding:30px;
}

.box-destacados{
	padding: 1em 3em 3em 3em;
}

.a-destacados-titular p{
	font-size: 25px;
}

.border-one{
	border: 2px #2A5E9B solid;
	padding-top: 2em;
	padding-bottom:2em;
}

.border-dos{     
    border-right: 2px solid #2A5E9B;
    border-left: 2px solid #2A5E9B;
    border-bottom:2px solid #2A5E9B;
	padding: 1em;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.caption h3{
	font-family: breeSerif;
	color:#2A5E9B;
	font-size: 18px;
  margin-bottom: 0.5em;
  height: 55px;
  overflow: hidden; 
}

.caption p{
	font-family: sylfaen;
	padding-top: 0.5em;
  text-align: left;
  height: 7.5em;
  overflow: hidden;
  margin-bottom: 0.8em;
}

.caption small{
	color:#2A5E9B;
	font-family:sylfaen; 
}

.caption span{
	color:black;
}

.width-special{
	width: 30%;
}

.buscar-area p{
  overflow: hidden;
  height: 42px;
  margin: 0;

}

.bandera{
  color: #2A5E9B;
  position: absolute;
  right: 325px;
  height: 57px;
  z-index: 1;
}
.bandera-avisos{
  color: #2A5E9B;
  position: relative;
  right: 23px;
  height: 57px;
  z-index: 1;
}
.ver-mas{
  font-family:sylfaen;
  font-size: 20px;	
  background: #2A5E9B;
  color:white;
  padding: 10px 30px 10px 30px;
}

.ver-mas:hover{
  background-color: #FFA200;
  color: white;
  transition: 500ms;
  text-decoration: none;
}

.ver-mas:focus{
   background-color: #585858;
   color: white;
   outline:0px !important;
   text-decoration: none;
}

.linea{
	border-top: 1px solid #245086;
}



/*--------------------------------------*/

/* publicidad */

.caja{
	padding:30px;
}

/*--------------------------------------*/

/* 5columnas-postular*/
.cinco-columnas{
	padding-bottom: 50px;
}

.area-postular{
	color:#245086;
	font-family:sylfaen;
}
.area-postular li{
  display: inline-block;
  width: calc(20% - 5px);
  padding: 10px;
}
/* 5columnas-postular*/

.empresas{
	padding-bottom: 50px;
}

.slider {
    width:90%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-prev:before, .slick-next:before {
	color:#2A5E9B !important;
}


.img-zoom-in img{
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-zoom-in:hover img{
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)

}

.blue-line:hover{
	outline-style: dotted;
    outline-color: gray;
    background-color: #e6e6e6;
    transform: 
}

/******************************/
.contenedor-img-empresas{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 200px;
}
.img-empresa{
    width: 10em;
}
.contenedor-contenedor{
  text-align: center;
}
.contenedor-inline{
  display: inline-block;
}

/*****************************/
.modal-header{
  border:0;
}
.modal-home-postulante-close{
    opacity: 1;
    color: gray;
    cursor: pointer;
}
.modal-home-postulante-close span{
  font-size: 1.5em;
}
/*--------------------------------------*/

/*MEDIA QUERY*/

@media screen and (min-width: 766px) and (max-width: 1199px){
  /*----------------------------------------------------------------------*/
  /*POSTULANTE*/
  .box{
  	margin-top: 27%;
  }
  .box-destacados {
    padding: 0em;
  }
  
  .bandera{
    color: #2A5E9B;
    position: relative;
    right: 0px;
    top:57px;
    z-index: 1;
  }
  .border-one{
	width: 100%;
	margin-bottom: 0.2em;
	}

	.border-dos{ 
	width: 100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 765px){
  /*----------------------------------------------------------------------*/
  /*POSTULANTE*/
   .box-destacados {
    padding-right: 2em;
    padding-left: 2em;
	}
 
  	.bandera{
    color: #2A5E9B;
    position: relative;
    right: 0px;
    top: 22px;
    height: 45px;
    z-index: 1;
  	}
  	.bandera-avisos{
    position: relative;
    right: 10px;
    height: 35px;
    top:0;
    }
  	.border-one{
	width: 100%;
	/*margin-bottom: 0.2em;*/
	}

	.border-dos{ 
	width: 100%;
	}
}


@media screen and (min-width: 430px) and (max-width: 480px){
	.box {
	    background-color: rgba(37, 37, 37, 0.68);
	    padding: 0px 19px 0px 22px;
	    margin-top: 68px;
	}
	.box-destacados {
    padding: 0em;
	}
	
	.position-top {
	    position: relative;
	    top: -24px;
	}
	.form-control{
		font-size: 18px !important;
	}
	
  .bandera{
    color: #2A5E9B;
    position: relative;
    right: 0px;
    height: 44px;
    top:22px;
    z-index: 1;
  }
  .badera-avisos{
    color: #2A5E9B;
    position: relative;
    right: 14px;
    height: 45px;
    z-index: 1;
  }
    .area-postular li{
      width: calc(100% - 5px);
    }
    .buscar-area p{
      font-size: 32px;
      margin: 0 0 10px;
      height: inherit;
    }
}


@media screen and (min-width: 320px) and (max-width: 429px){
	.box {
	    background-color: rgba(37, 37, 37, 0.68);
	    padding: 0px 19px 0px 22px;
	    margin-top: 68px;
	}

	.box-destacados {
    padding: 0em;
	}

	.position-top {
	    position: relative;
	    top: -24px;
	}
	.form-control{
		font-size: 18px !important;
	}
  	.bandera{
    color: #2A5E9B;
    position: relative;
    right: 0px;
    height: 44px;
    top:22px;
    z-index: 1;
  	}
    .bandera-avisos{
    position: relative;
    right: 10px;
    height: 35px;
    top:0;
    }
  	.border-one{
	width: 100%;
	/*margin-bottom: 0.2em;*/
	}

	.border-dos{ 
	width: 100%;
	}
  .area-postular li{
      width: calc(100% - 5px);
    }
    .buscar-area p{
      font-size: 32px;
      margin: 0 0 10px;
      height: inherit;
    }
}




 .modal-recuperar-contra-title
    {
        text-align: center;
        font-weight: bold;
        color: #2A5E9B;
    }
    #frmRecoverPassword
     {
        padding: 1em 3em;
     }
     .text-modal-title
     {
        font-weight: lighter;
        color: gray;
        font-size: 14px;
     }
     .btn-enviar-correo
     {
        background: #FFA200;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        color:  #333;
     }
     #txtEmailForgot
     {
        outline: none;
        padding: 0.3em 0.5em;
        color: gray;
        width: 100%;
     }
     .error-validacion
     {
        border:1px solid #ad3a3a;
     }
     .contenedor-msj-error
     {
        display: none;
     }
     .contenedor-msj-error span,.contenedor-msj-error i,.contenedor-msj-error-2 span, .contenedor-msj-error-2 i
     {
        color: #ad3a3a;
        font-size: 14px;
     }

.input-group-addon
{
  background-color: initial;
  border:0px;
}
.input-group-addon
{
      width: 100%;
    background: rgba(255, 0, 0, 0);
    position: absolute;
    top: 0;
    text-align: right;
    height: 2.7em;
}
#datetimepicker4
{
  display: inherit;
  font-weight: normal !important;
}
.glyphicon-time
{
  margin-top: 0.2em;
    color: #b1aeae;
    display: none;
}
.bootstrap-datetimepicker-widget
{
  font-weight: normal !important; 
}
