.repotenciar-aviso,.destaque-rpta{
  padding-top:6em;
}

.repotenciar-aviso h1{
  text-decoration: underline;
  color:#2A5E9B;
  font-size: 28px;
  font-family:breeSerif; 
}

.publi-web h2{
  color:#FFA200;
  font-family:breeSerif;
  font-size: 28px; 
}

.publi-web h3{
  color:#2A5E9B;
  font-size: 25px;
  font-family:breeSerif; 
}

.publi-web h4{
  color:#2A5E9B;
  font-size: 18px;
  font-family:breeSerif-light; 
}

.publi-web span{
  font-size: 28px;
  text-decoration: underline;
}

.publi-web small{
  color:#999999
}

.publi-web-sd{
  padding: 1em 1em 1em 3em;
  font-size: 16px;
}

.publi-web-sd.pd{
  padding: 0.1em 1em 1em 3em;
}

label{
  color:#4badf8;
  font-family:breeSerif-light; 
}

input[type="checkbox"],input[type="radio"] {
    left: 0;
    margin-right: 9px;
    top: -1px;
}

.precio p{
  margin-bottom: 3px;
  color:#999999;
  font-family: sylafen;
  font-size: 18px;
}

.precio .oculto{
  visibility: hidden;
}


#renderList{
  padding-top:7em;
}


.proList li:before {
    content: "✓  ";
    color: #4badf8;
}

.item{
  font-family: sylafen;
}


button.applyBtn.btn.btn-sm.btn-success{
  background: #2A5E9B;
  border-color:#2A5E9B;
}

button.cancelBtn.btn.btn-sm.btn-default{
  background: #FFA200;
  border-color:#FFA200;
  color:white;
}

.daterangepicker td.active,.daterangepicker td.active:hover{
  background: #2A5E9B;
} 

.span_date
{
  color: #535353;
  font-weight: normal;
}























