
@media screen and (min-width: 1200px) and (max-width: 2800px){
  
}


@media screen and (min-width: 480px) and (max-width: 767px){

   .caro {
    padding: 1px 35px 22px 35px;
  }
   .top-a{
    padding-top: 0em;
  }

   .top-b{
    padding-top: 0em;
  }
  .mcl{
  display: inline-block;
  border-left: none;
  padding-left: 12px;
  }
  li.page-scroll{
  padding-right: 0em;
 }

}

@media screen and (min-width: 320px) and (max-width: 480px){
  /*header-navbar*/
  .mcl{
  display: inline-block;
  border-left: none;
  padding-left: 12px;
 }
  
 .top-a{
  padding-top: 0em;
 }

 .top-b{
  padding-top: 0em;
 }

 li.page-scroll{
  padding-right: 0em;
 }
  
  /*-------------------------*/
  
  .diagrama{
  padding: 3px 3px;
  }
  .valores {
    text-align: center;
    padding-left:0px;
    padding-right:0px;
  }

  .logo-footer img {
    width: 100%;
    max-height: 13em;
    padding-top: 3.1em;
    padding-right: 4%;
    padding-bottom: 3.1em;
    padding-left: 4%;
    }
}
